body {
  font-family: "Roboto", sans-serif;
  padding: 4rem;
}

label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

button {
  background: transparent;
  border: 2px solid black;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  color: blue;
  border-color: blue;
}

.row {
  display: flex;
  gap: 1px;
}

.color {
  flex: 1;
  aspect-ratio: 1;
  margin: 0 0 1px;
}

.wrapper {
  display: flex;
}

.settings {
  flex: 0;
  min-width: 20rem;
}

.result {
  flex: 1;
  max-width: 800px;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
}
